body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 10vw;
    box-sizing: border-box;
}

#colore-e-font, #immagini {
    margin-bottom: 10%;
}

input[type="radio"] {
    display: none;
}